<nb-card>

  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="{{'residentsPage.residents'|translate}}">
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
        {{'common.count'|translate}}: <b>{{count}}</b>

      </nb-tab>
      <nb-tab tabTitle="{{'residentsPage.newRequests'|translate}}" badgeText="{{countRequests}}" badgeStatus="primary">
        <div class="show-closed-requests">
          <nb-checkbox ghost class="show-closed-requests" status="info" [(checked)]="showOnlyActiveRequests" (change)="refreshRequests()">{{'singleRequestPage.hideClosedRequests'|translate}}</nb-checkbox>
        </div>
        <ngx-requests-list (requestAccepted)="userAccepted($event)" translateParamNames="true" translateTitle="true"
        [requests]="(showOnlyActiveRequests)? activeRequests: requests"></ngx-requests-list>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
