.header {
    position: relative;
    display: inline-block;
    h7 {
        width: 200px;
        display: inline-block;
        vertical-align: middle;

        &.header-status {
            width: auto;
            margin-right: 3rem;
        }
    }

    .request-icon {
        font-size: 2.5rem;
        margin-right: 2rem;
        display: inline-block;
        vertical-align: middle;
    }
}

.parameters {
    h7 {
        &.param-value {
            margin-right: 0rem;
            font-weight: 600;
        }
        &.param-name {
            min-width: 210px;
        }

        display: inline-block;
    }
    nb-list {
        margin-top: 1rem;
    }
    margin-bottom: 1.25rem;
}

.events {
    h7 {
        &.param-value {
            margin-right: 0rem;
            font-weight: 600;
        }
        &.param-name {
            min-width: 120px;
        }

        display: inline-block;
    }
    nb-list {
        margin-top: 1rem;
    }
    .timestamp {
        display: flex;
        position: absolute;
        margin-top: -1rem;
        right: 1rem;
        font-weight: 600;
        font-size: 0.65rem;
    }

    nb-list {
        nb-list-item {
            display: inline-block;
        }
        nb-user {
            display: inline-block;
        }
    }
}


.help-icon {
    right: 1rem;
    position: absolute;
}

.durable-icon {
    position: absolute;
    right: 2.5rem;
}

.textarea-comment {
    width: 100%;
    max-width: 30rem !important;
    max-height: 80px;
    min-height: 20px;
    resize: none;
    margin-right: -1rem;
    font-weight: 600 !important;
}
.action-div {
    position: static;
    text-align: right;
}
.action-button {
    margin-top: 1rem;
    margin-right: 0.5rem;
}


