<div>
  <h6 class="text-hint" style="margin-top: 1rem;" *ngIf="!requests || requests.length == 0">{{'requests.nothingFound'|translate}}</h6>
    <nb-accordion>
        <nb-accordion-item *ngFor="let request of requests" (collapsedChange)="accordionCollapsedChanged($event, request)">
          <nb-accordion-item-header>
            <div class="header">
              <nb-icon *ngIf="request.type.displayOptions.iconPack === 'eva'" [icon]="request.type.displayOptions.icon" status="basic" class="request-icon" [pack]="request.type.displayOptions.iconPack"></nb-icon>
              <nb-icon *ngIf="request.type.displayOptions.iconPack !== 'eva'" [icon]="request.type.displayOptions.icon" status="basic" class="request-icon" [pack]="request.type.displayOptions.iconPack"></nb-icon>
              <h7 class="text-basic">{{(translateTitle)?('requests.' + request.type.title|translate):request.type.title}}</h7>
              <h7 class="text-hint">{{request.generatedIdentifier}}</h7>
              <h7 class="{{(request.status == 'NEW')? 'text-info':
              (request.status == 'ACCEPTED')? 'text-primary':
              (request.status == 'IN_PROGRESS')? 'text-success':
              'text-hint'}} header-status">{{'requests.'+request.status|translate}}</h7>
            </div>
            <nb-icon [hidden]="!request.type.durable" nbTooltip="{{'requests.durableRequest'|translate}}" nbTooltipPlacement="top" nbTooltipStatus="primary"
                      icon="clock-outline" class="text-hint durable-icon"></nb-icon>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class="col-xl-6 parameters">
                <h7 class="text-hint">{{'requests.paramValues'|translate}}</h7>
                <nb-list>
                  <nb-list-item *ngIf="currentUser !== request.owner.userName">
                    <h7 class="text-basic param-name">{{'requests.requestOwner'|translate}}</h7>
                    <h7 class="text-basic param-value">
                      <nb-user
                        size="medium"
                        name="{{(ownerResident)?(ownerResident.lastName + ' ' + ownerResident.firstName) : request.owner.userName}}"
                        title="{{(ownerResident)?(ownerResident.address.street + ' ' + ownerResident.address.houseNumber) : ''}}">
                      </nb-user>

                    </h7>
                  </nb-list-item>
                  <nb-list-item *ngFor="let param of request.type.parameters">
                    <h7 class="text-basic param-name">{{(translateParamNames)?('requests.' + param.name|translate):param.name}}</h7>
                    <h7 class="text-basic param-value">{{request.paramValues[param.name]}}</h7>

                    <nb-icon *ngIf="param.comment" [nbTooltip]="param.comment" nbTooltipPlacement="top" nbTooltipStatus="primary"
                    icon="question-mark-circle-outline" class="text-hint help-icon"></nb-icon>

                  </nb-list-item>
                  <nb-list-item *ngIf="request.type.durable">
                    <h7 class="text-basic param-name">{{'requests.nextExecutionDay'|translate}}</h7>
                    <h7 class="text-basic param-value">{{calculateNextExecutionDay(request)}}</h7>
                  </nb-list-item>
                  <nb-list-item>
                    <h7 class="text-basic param-name">{{'requests.comment'|translate}}</h7>

                    <textarea
                      nbInput
                      [ngModel]="request.comment"
                      readonly="true"
                      class="textarea-comment"
                    >
                    </textarea>
                  </nb-list-item>
                </nb-list>
              </div>
              <div class="col-xl-6 events">
                <h7 class="text-hint">{{'requests.eventsLog'|translate}}</h7>
                <div [nbSpinner]="logsAreLoading" nbSpinnerStatus="basic">
                  <h7 class="text-hint" [hidden]="!logsAreLoading"></h7>
                  <nb-list>
                    <nb-list-item *ngFor="let logItem of logs">
                      <label class="label timestamp text-info" status="info">{{formatDateTime(logItem.modifiedDate)}}</label>
                      <nb-user nbTooltip="{{'requests.modifiedBy'|translate}}: {{(logItem.modifiedBy)?logItem.modifiedBy.userName:'System Request'}}" nbTooltipPlacement="top" nbTooltipStatus="primary"
                        size="medium"
                        name="{{(logItem.modifiedBy)?logItem.modifiedBy.userName:'System Request'}}"
                        onlyPicture>
                      </nb-user>
                      <h7 class="text-basic param-name">{{'requests.' + logItem.itemName|translate}}</h7>
                      <h7 class="text-basic param-value">{{(logItem.itemName == 'STATUS_CHANGED')?(('requests.' + logItem.newValue)|translate):logItem.newValue}}</h7>
                    </nb-list-item>
                  </nb-list>
                </div>

              </div>
            </div>

            <div class="action-div">
              <button nbButton *nbIsGranted="['edit', 'assignedRequests']"
              shape="semi-round" status="info" size="small" class="action-button"
              [hidden]="!(request.status == 'NEW')"
              (click)="acceptRequest(request)">{{'requests.accept'|translate}}</button>

              <button nbButton shape="semi-round" status="danger" size="small" class="action-button"
              [disabled]="!(request.status == 'NEW' || request.status == 'ACCEPTED')"
              (click)="rejectRequest(request)">{{'requests.reject'|translate}}</button>


            </div>

          </nb-accordion-item-body>
        </nb-accordion-item>
       </nb-accordion>
</div>