<nb-card>

  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="{{'requestManagerPage.allRequestTypes'|translate}}">

      </nb-tab>
      <nb-tab tabTitle="{{'requestManagerPage.createNewRequestType'|translate}}">

        <nb-stepper  #stepper  [linear]="false" disableStepNavigation="false" orientation="vertical" class="custom-vertical-stepper">
          <nb-step label="{{'requestManagerPage.mainInformation'|translate}}" >
            <form #nameForm="ngForm">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <label class="label" for="input-title">{{'requestManagerPage.title'|translate}}</label>
                  <input nbInput
                    [(ngModel)]="newRequestType.title"
                    #title="ngModel"
                    id="input-title"
                    name="title"
                    placeholder="{{'requestManagerPage.title'|translate}}"
                    fullWidth
                    fieldSize="large"
                    required
                    [status]="title.dirty ? (title.invalid  ? 'danger' : 'success') : 'basic'"
                    [required]="true"
                    [attr.aria-invalid]="title.invalid && title.touched ? true : null">

                  <ng-container *ngIf="title.invalid && title.touched">
                    <p class="caption status-danger" *ngIf="title.errors?.required">
                      {{'requestManagerPage.titleRequired'|translate}}
                    </p>
                  </ng-container>

                </div>
                <div class="col-md-12 col-lg-6">
                  <label class="label" for="input-description">{{'requestManagerPage.description'|translate}}</label>
                  <textarea
                      nbInput
                      [(ngModel)]="newRequestType.description"
                      #description="ngModel"
                      id="input-description"
                      name="description"
                      fullWidth
                      placeholder="{{'requestManagerPage.enterDescription'|translate}}"
                      >
                  </textarea>
                </div>
              </div>
              <button nbButton status="primary" nbStepperNext class="navigation-button"
              [disabled]="nameForm.invalid"
              >{{'common.next'|translate}}</button>
            </form>
          </nb-step>
          <nb-step label="{{'requestManagerPage.periodicity'|translate}}">
            <form #periodicityForm="ngForm">
              <div class="row">
                <div class="col-lg-4 col-xxxl-2">
                  <label class="label" for="input-durable">{{'requestManagerPage.perform'|translate}}</label>
                  <nb-radio-group [(value)]="newRequestType.durable" id="durableRadioGroup" name="durableRadioGroup">
                    <nb-radio [value]="false">{{'requestManagerPage.once'|translate}}</nb-radio>
                    <nb-radio [value]="true">{{'requestManagerPage.multipleTimes'|translate}}</nb-radio>
                  </nb-radio-group>
                </div>

                <div class="col-lg-4 col-xxxl-2" *ngIf="newRequestType.durable">
                  <label class="label" for="input-selectionMode">{{'requestManagerPage.selectionMode'|translate}}</label>
                  <nb-radio-group [(value)]="selectionMode" id="selectionModeGroup" name="selectionModeGroup">
                    <nb-radio *ngFor="let enum of SelectionMode | keyvalue" [value]="enum.key">{{'requestManagerPage.' + enum.value|translate}}</nb-radio>
                  </nb-radio-group>
                </div>

                <div class="col-lg-4 col-xxxl-3" *ngIf="selectionMode === SelectionMode.Weekly && newRequestType.durable">
                  <label class="label">{{'requestManagerPage.daysOfWeek'|translate}}</label>
                  <nb-list>
                    <nb-list-item *ngFor="let weekDay of calendarSelectionService.getCheckedWeekDays()| keyvalue: originalOrder">
                      <nb-checkbox [checked]= "weekDay.value" (change)="toggleWeekDay($event.target.checked, weekDay.key)">{{'common.' + weekDay.key|translate}}</nb-checkbox>
                    </nb-list-item>
                  </nb-list>
                </div>


                <div class="col-lg-4 col-xxxl-3" *ngIf="selectionMode === SelectionMode.Monthly && newRequestType.durable">
                  <label class="label">{{'requestManagerPage.every'|translate}}</label>

                  <nb-select
                        name="firstLastWeekDay"
                        id="firstLastWeekDay"
                        #firstLastWeekDay
                        [(selected)]="selectedEveryDay"
                        fullWidth
                        >
                    <nb-option *ngFor="let item of calendarSelectionService.getEveryDaysList()" [value]="item">{{'requestManagerPage.' + item|translate}}</nb-option>
                  </nb-select>
                  <label class="label">{{'common.day'|translate}}</label>
                  <nb-select
                        name="everyWeekDay"
                        id="everyWeekDay"

                        #everyWeekDay
                        [(selected)]="selectedEveryWeekDay"
                        fullWidth
                        >
                    <nb-option *ngFor="let weekDay of calendarSelectionService.getCheckedWeekDays()| keyvalue: originalOrder" [value]="weekDay.key">{{'common.' + weekDay.key|translate}}</nb-option>
                  </nb-select>


                  <button [disabled]="!selectedEveryDay || !selectedEveryWeekDay" type="button" class="btn btn-link" (click)="addEvery()">{{'requestManagerPage.add'|translate}}</button>
                  <nb-list>
                    <nb-list-item class="list-label" *ngFor="let item of convertedDayOfMonth">
                      <label class="label list-label">{{'requestManagerPage.' + item.everyDay|translate}} {{'common.' + item.dayOfWeek|translate}}</label>
                      <button nbSuffix nbButton ghost status="primary" nbSuffix
                      (click)="removeEvery(item.dayOfWeek, item.everyDay)">
                      <nb-icon icon="close-outline"></nb-icon></button>
                    </nb-list-item>
                  </nb-list>
                </div>

                <div class="col-lg-12 col-xxxl-5" *ngIf="newRequestType.durable">
                  <ngx-multi-select-calendar #calendar
                  [boundingMonth]="false"
                  [manualSelection]="(selectionMode === SelectionMode.Manually)"
                  [filter]="(selectionMode !== SelectionMode.Manually)?(selectionMode === SelectionMode.Monthly)?calendarSelectionService.monthFilter:calendarSelectionService.weekFilter:''"
                  (arrayChange)="onChangeArray($event)"
                  [max]="(selectionMode === SelectionMode.Manually)?maxDate:''"
                  [min]="(selectionMode === SelectionMode.Manually)?minDate:''"
                  ></ngx-multi-select-calendar>
                </div>

              </div>
              <button nbButton status="primary" nbStepperPrevious class="navigation-button" [disabled]="false">{{'common.prev'|translate}}</button>
              <button nbButton status="primary" nbStepperNext class="navigation-button"
                [disabled]="periodicityForm.invalid ||
                (newRequestType.durable &&
                (selectionMode === SelectionMode.Manually && selectedDays.length === 0) ||
                (selectionMode === SelectionMode.Weekly && !weekDaySelected) ||
                (selectionMode === SelectionMode.Monthly && convertedDayOfMonth.length === 0))"
                >{{'common.next'|translate}}
              </button>

            </form>
          </nb-step>
          <nb-step label="{{'requestManagerPage.parameterInput'|translate}}">

            <form #parametersForm="ngForm">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <label class="label" for="input-param-name">{{'requestManagerPage.parameterName'|translate}}</label>
                  <input nbInput
                    [(ngModel)]="newParameter.name"
                    #paramName="ngModel"
                    id="input-param-name"
                    name="paramName"
                    placeholder="{{'requestManagerPage.parameterName'|translate}}"
                    fullWidth
                    fieldSize="large"
                    required
                    [status]="paramName.dirty ? (paramName.invalid  ? 'danger' : 'success') : 'basic'"
                    [required]="true"
                    [attr.aria-invalid]="paramName.invalid && paramName.touched ? true : null">
                </div>

                <div class="col-md-12 col-lg-6">
                  <label class="label" for="input-param-comment">{{'requestManagerPage.comment'|translate}}</label>
                  <textarea
                      nbInput
                      [(ngModel)]="newParameter.comment"
                      #paramComment="ngModel"
                      id="input-param-comment"
                      name="paramComment"
                      fullWidth
                      placeholder="{{'requestManagerPage.enterParamComment'|translate}}"
                      >
                  </textarea>
                </div>
              </div>

              <ng-container *ngIf="paramName.invalid && paramName.touched">
                <p class="caption status-danger" *ngIf="paramName.errors?.required">
                  {{'requestManagerPage.paramNameRequired'|translate}}
                </p>
              </ng-container>
            </form>
            <button nbButton status="primary" nbStepperPrevious class="navigation-button" [disabled]="false">{{'common.prev'|translate}}</button>
            <button nbButton status="primary" nbStepperNext class="navigation-button" [disabled]="parametersForm.invalid">{{'common.next'|translate}}</button>
        </nb-step>
          <nb-step label="{{'requestManagerPage.view'|translate}}">
              <button nbButton status="primary" nbStepperPrevious class="navigation-button" [disabled]="false">{{'common.prev'|translate}}</button>
              <button nbButton status="primary" nbStepperPrevious class="navigation-button" [disabled]="false">{{'common.create'|translate}}</button>
          </nb-step>
        </nb-stepper>

      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
